.main {
    width: 100vw;
    height: 100vh;
    line-height: 100vh;
    text-align: center;
    color: white;
    font-size: 24pt;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .2);
    font-family: 'Montserrat', sans-serif;
    background-image: url('../assets/img/top.png');
    background-size: cover;

    a {
        color: white;
    }
}